{% extends 'base.html' %}

    {% block content %}

    <main class="container py-5">

        <section class="card card-body">

                <h1 class="display-3 text-center">Tecnologia-SEC</h1>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia cumque maxime incidunt ex reiciendis velit autem laudantium aperiam nesciunt corrupti aliquid assumenda, nisi unde ut ratione dignissimos consectetur suscipit numquam facilis iusto. Accusamus natus at libero consectetur, perferendis et quasi! Ad dolor repudiandae repellat totam soluta tempora provident, recusandae hic quam facilis nemo ab dicta dolorum sed, inventore illo? Doloribus, nihil? Ea maiores, totam distinctio delectus et dolorem nisi illo ab optio veniam neque ad tempore placeat tempora dignissimos sunt a libero inventore eos aspernatur adipisci ipsa sint! Rerum quia laboriosam provident eveniet aliquid suscipit nemo eligendi libero vitae ex.</p>

            <div class="text-center">
                <a class="btn btn-primary" href="/signin">
                        Signin
                </a>
                <a class="btn btn-primary" href="/signup">
                        Signup
                </a>
            </div>
        </section>

    </main>
    {% endblock %}