{% extends 'base.html' %}

{% block content %}

    <main class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>{{titlex}}</h1>
                <ul class="list-group">
                    {% for task in tasks %}
            
                    <li class="list-group-item  mt-2 " style="background-color:silver !important"> 
                        <a href="{% url 'task' task.id %}">
                            {% if task.important %}
                            <strong style="color: blue;"><h1> {{task.title}} </h1> </strong>
                            {% else %}
                            <h3> {{task.title}} </h3>
                            {% endif %}
                        </a>

                        <p>{{task.description}}</p>
                        <p>BY: {{task.user.username}}</p>
                        <p>{{task.datecompleted}}</p>

                    </li> 
        
                    {% endfor %}
            
                </ul>
            </div>
        </div>
    </main>

{% endblock %}